In [2]:
from gymnax_exchange.jaxlobster.data_loading import *
# from gymnax_exchange.jaxob.JaxOrderBookArrays import *
# from gymnax_exchange.jaxob.jorderbook import *
# import torch
# torch.cuda.is_available()

In [3]:
# import platform
# print(platform.system())

In [4]:
dfm, removed_indices = load_message_df("AMZN_2012-06-21_34200000_57600000_message_10.csv")
dfo = load_orderbook_df("AMZN_2012-06-21_34200000_57600000_orderbook_10.csv")

In [8]:
dfm.head()

            <time> <event_type> <order_id> <size>  <price> <direction>
0  34200.017459617            5          0      1  2238200          -1
1   34200.18960767            1   11885113     21  2238100           1
2   34200.18960767            1    3911376     20  2239600          -1
3   34200.18960767            1   11534792    100  2237500           1
4   34200.18960767            1    1365373     13  2240000          -1

In [9]:
dfo.head()

,<ask_price_1>,<ask_size_1>,<bid_price_1>,<bid_size_1>,<ask_price_2>,<ask_size_2>,<bid_price_2>,<bid_size_2>,<ask_price_3>,<ask_size_3>,...,<bid_price_8>,<bid_size_8>,<ask_price_9>,<ask_size_9>,<bid_price_9>,<bid_size_9>,<ask_price_10>,<ask_size_10>,<bid_price_10>,<bid_size_10>
0,2239500,100,2231800,100,2239900,100,2230700,200,2240000,220,...,2202500,5000,2294300,100,2202000,100,2298000,100,2189700,100
1,2239500,100,2238100,21,2239900,100,2231800,100,2240000,220,...,2204000,100,2294300,100,2202500,5000,2298000,100,2202000,100
2,2239500,100,2238100,21,2239600,20,2231800,100,2239900,100,...,2204000,100,2267700,100,2202500,5000,2294300,100,2202000,100
3,2239500,100,2238100,21,2239600,20,2237500,100,2239900,100,...,2213000,4000,2267700,100,2204000,100,2294300,100,2202500,5000
4,2239500,100,2238100,21,2239600,20,2237500,100,2239900,100,...,2213000,4000,2267700,100,2204000,100,2294300,100,2202500,5000

In [6]:
# unified=compute_df_from_file_group(["AMZN_2012-06-21_34200000_57600000_message_10.csv","AMZN_2012-06-21_34200000_57600000_orderbook_10.csv"],only_use_message_orderbook_matches= False, differentiate_time = False)

In [10]:
merged_df,check_df,check_df2=merge_dfm_dfo(dfm,dfo)
merged_df.head()

,<time>,<event_type>,<order_id>,<size>,<price>,<direction>,<ask_price_1>,<ask_size_1>,<bid_price_1>,<bid_size_1>,...,<bid_price_8>,<bid_size_8>,<ask_price_9>,<ask_size_9>,<bid_price_9>,<bid_size_9>,<ask_price_10>,<ask_size_10>,<bid_price_10>,<bid_size_10>
0,NaN,NaN,NaN,NaN,NaN,NaN,2239500,100,2231800,100,...,2202500,5000,2294300,100,2202000,100,2298000,100,2189700,100
1,34200.017459617,5,0,1,2238200,-1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,34200.18960767,1,11885113,21,2238100,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,34200.18960767,1,3911376,20,2239600,-1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,34200.18960767,1,11534792,100,2237500,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN